
html,body{
	margin: 0 !important;
  padding: 0 !important;
  width: 100%;
	font-family: Amiko, Arial, sans-serif;
	font-size: 0.9em;
	font-weight: 400;
	height:100% !important;
	line-height: 1.5;
	color:#8082a0;
	background:#03041a;
	overflow-x: hidden;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

footer{
	position: relative;
  bottom: 0;
	line-height: 0.5;
	padding: 5px;
	background-color: #3e418e;
}

h1,h2,h3,h4{
	margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: #d4d4d4;
	text-shadow: 0 0 8px hsla(0,0%,100%,.3);
}

/*******************************************************
**********************		NAV		************************
********************************************************/

.topnav{
	border-bottom: 5px solid #1c1f65 !important;
	background-color: #3e418e !important;
	overflow: hidden;
}

.topnav a{
  color: #adadad !important;
}

.topnav a:hover{
	/*box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);*/
	color: #d4d4d4 !important;
}

/**************************************************/
a:hover{
	text-decoration: none;
}

.bgDark{
	background:#03041a;
}

.fancy-button{
		border:none;
		background-image: linear-gradient(-80deg,#0be49b,#14cbd9);
    box-shadow: 0 0 25px 0 #0c7563;
    border-radius: 2px;
    padding: 11px 20px 9px 23px;
    color: white !important;
    letter-spacing: .01px;
    cursor: pointer;
}

.fancy-button:hover{
	color:#8082a0 !important;
}

.alert{
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}
.container{
	min-height: 100% !important;
}
.container-mod{
	padding: 6rem 0;
	min-height: 100% !important;
}

.container-edit{
	background-color: #12122f;
	padding-bottom: 2%;
	padding-top: 2%;
}

.container-login{
	background-color: #12122f;
	margin: auto;
	margin-top : 15%;
	width: 25%;
	padding: 2%;
}

.modules{
	position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color:#15162c;
  background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  text-align: center;
}

.imgMod{
	padding-top: 2%;
}
.modules-body{
	flex: 1 1 auto;
    padding: 1.5rem;
}

.modules-title{
	color:#d4d4d4;

}

.modimg-top{
    margin-top: 4%;
    width: 100%;
}

.modal-content {
    background-color: #1b1d35;
    border: 1px solid #0fd9b6;
    box-shadow: 0 0 30px 0 rgba(15,217,182,.36);
}

.modal-footer {
    border-top: 1px solid #0fd9b6;
}

.modal-header {
    border-bottom: 1px solid #0fd9b6;
}

.rowBase{
	margin-bottom: 2%;
}

.fancy-input {
    background-color: #343844;
		box-shadow: 0 0 10px 0 #0c7563;
		border: 1px solid #0c7563;
    border-radius: 2px;
    color:white;
		width: 100%;
}

.modGest{
    list-style: none;
}

.modGest li{
    float:right;
}

/** Module.php **/

.cours{
	position: relative;
	background-color:#15162c;
	border-radius: .25rem;
}

.drop{
	position: relative;
	padding: 1rem;
	background-color:#15162c;
	border-radius: .25rem;
	margin-bottom: 40px;
}

.addPng{
	position: absolute;
	top: 20px;
	right: 10px;
}

.removePng{
	position: absolute;
	top: 25%;

}

drop input[type="image"]{
	position: absolute;
	top: 20px;
	right: 52px;
}

.hrPart{
	 background: #8082a0;
}

.hrFiles{
	background: #d4d4d4;
}

/** EditModule.php **/

.editMod{
	margin-top: 3%;
}

.editMod::after{
	margin-bottom: 3%;
}

.editTitle{
	margin-top: 2%;
}

.box{
	border:5px dashed #ADADAD;
	border-radius: 20px;
	padding: 2%;
	width:90%;
	text-align: center;
}

#upload{
	display: none;
}

.box:hover{

}
.imgEdit{
	padding: 1.25rem 1.25rem;
}

.buttonEdit{
	margin-top:2%;
	width: 100%;
}
/*@media screen and (max-width:991px){

	.imgUp{
		margin-top:2%;
	}



	.buttonAdd{
		margin-top:3%;
		margin-bottom: 3%;
		width: 100%;
	}
}*/

.padRow{
	margin-top:0.75rem;
}

#listgrp{
	overflow-y: auto;
}

.login{
	background-color: #15162c;
	padding: 1rem;
}

.buttonsModule{
	position: absolute;
	top: 10%;
	right : 5%;
}

.imgFile{
	width: auto;
}

.fileDesc{
	color: white;
	font-size: 1.2em;
	padding: 2%;
}

.cours h4{
	display: inline-block;
}

#alert-verif-success{
	display:none;
}

/**********************************************************
********************* DEPOT ******************************
**********************************************************/
.rowImg{
	margin-top: 5%;
}

.imgPrj{
	border: 1px solid #0fd9b6;
	box-shadow: 0 0 30px 0 rgba(15,217,182,.36);
}

.plus{
	display: inline;
	border:2px dashed grey;
	border-radius: 90px;
	font-size: 6em !important;
	margin-top: 3%;
	margin-bottom: 3%;
}

.rowCours:hover{
	background-color: #43456b;
	border-radius: 1px;
}

#dropBox{
	height: 200px;
	border: 2px dashed grey;
	border-radius: 8px;
}
